
.sidebar {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar-link:hover {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}